#smartystudio_custom_dashboard_widget .postbox-header {
	display: none !important;
}

#wpbody-content #dashboard-widgets .postbox-container {
    width: 65% !important;
}

/*div#postbox-container-2,
div#postbox-container-3,
div#postbox-container-4,*/
#footer-thankyou,
#footer-upgrade {
    display: none !important;
}

.js .postbox .handlediv,
.js .postbox .hndle,
.js .widget .widget-top {
    display: none !important;
}

.main_dashboard_widget_button {
    display: inline-block;
    padding: 0;
    margin: 15px;
    text-align: center;
    width: 200px;
}

.main_dashboard_widget_button:hover { 
	background-color: #fef8e7 !important; 
	border-radius: 30px; 
}

.main_dashboard_widget_button a {
    color: #666666;
    transition: all 0.5s;
    outline: none !important;
    display: block;
    padding: 25px 30px;
    border: 1px solid #e4e4e4 !important;
    border-radius: 30px;
	text-decoration: none;
}

.main_dashboard_widget_button a i {
    font-size: 60px;
    transition: all 0.5s;
}

.main_dashboard_widget_button a h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    transition: all 0.5s;
    margin-top: 10px !important;
    color: #666666 !important;
    font-weight: bold !important;
}

.wrap .notice {
    margin: 15px 0 25px;
}

.submit {
    float: left;
    margin-right: 20px;
}

.add-new-row i {
    padding-right: 8px;
}

.remove-icon,
.remove-link {
    color: #cc0000;
	text-align: center;
}

#custom_dashboard_widget .dashicons {
    line-height: 60px;
    margin-bottom: 38px;
    font-size: 60px;
    text-align: center;
    margin-right: 40px;
}

#dashboard-widgets .button-link,
#dashboard-widgets a:hover {
    text-decoration: none;
}

#dashboard-widgets .postbox {
    position: relative;
    min-width: 255px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #ffffff;
    text-align: center;
}

#dashboard-widgets .dashicons {
    line-height: 60px;
    margin-bottom: 38px;
    font-size: 60px;
    text-align: center;
    margin-right: 40px;
}

table.widefat.responsive-table tr:nth-child(even) {
	background: #ffffff;
}

table.widefat.responsive-table tr:nth-child(odd) {
	background: #f5f5f5;
}

@media only screen and (max-width: 768px) {
    .responsive-table {
        overflow: hidden;
        overflow-x: scroll;
        display:block;
    }
}